.footer {
  background: linear-gradient(90deg, rgba(36,0,4,1) 0%, rgba(0,0,0,1) 54%, rgba(101,0,0,1) 100%);
  bottom: 0;
  width: 100%;
  position:fixed;

  &__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &__items {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.8rem;
    }

    &__items:hover {
      opacity: 0.8;
    }
  }
}